{% extends 'layout.html' %}

{% block body %}
	<br>
	<h1>Requested Resources <br><small>Welcome, {{session.username}}</small></h1>
	<hr>

	<h4>Search</h4>
	<input class="form-control" id="myInput" type="text" placeholder="Resource type or uploader...">
	<br>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th class="text-center">Uploader</th>
				<th class="text-center">Resource Type</th>
                		<th class="text-center">Amount</th>
                		<th class="text-center">Requested Time</th>

			</tr>
		</thead>
		<tbody id="searchableTable">
			{% for request in requested %}
			<tr>
				<td id="resource_requester">{{request.uploader}}</td>
				<td>{{request.type}}</td>
                		<td>{{request.amount}}</td>
                		<td>{{request.restime}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

    {% if session.role_type == 'requester' or session.role_type == 'admin'%}
	<div class="container text-center" >
		<a class="btn btn-success" href="/add_request" id="add_request"> Add Request </a>
	</div>
    {% endif %}

{% endblock %}
